body {
  font-family:arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f4f4f4;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #741b47;
  color: white;
  border: none;
  border-radius: 6px;
}
button:hover {
  opacity: 0.9;
}
